.activity-charts__container {
  display: grid;
  padding: 2.5rem 1.5625rem 1.875rem;
  background-color: #fbfbfb;
  grid-template-areas: 'activity-stack';
}

.activity-charts__title {
  margin: 5px 0 0;
  color: #20253a;
  font-size: 15px;
  font-weight: 500;
  grid-area: activity-stack;
}

.activity-charts {
  grid-area: activity-stack;
}

.activity-charts__tooltip {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  background-color: #e60000;
  color: white;
  font-size: 0.625rem;
  font-weight: 500;
  gap: 0.9375rem;
  text-align: center;
}
