.dashboard__grid {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "activity"
    "average"
    "performance"
    "score"
    "key";
  justify-items: stretch;
}

.activity-charts__container,
.average-session-charts__container,
.performance-charts__container {
  height: 20rem;
}

.activity-charts__container {
  grid-area: activity;
}

.average-session-charts__container {
  grid-area: average;
}

.performance-charts__container {
  grid-area: performance;
}

.today-score-charts__container {
  grid-area: score;
}

.key-data-charts__container {
  gap: 1rem;
  display: grid;
  grid-area: key;
}

@media screen and (min-width: 1024px) {
  .dashboard__grid {
    grid-template-areas:
      "activity activity activity key"
      "average performance score key";
    grid-template-columns: repeat(4, 1fr);
  }

  .average-session-charts__container,
  .performance-charts__container,
  .today-score-charts__container {
    height: 100%;
  }

  .key-data-charts__container {
    align-self: stretch;
  }
}

@media screen and (min-width: 1440px) {
  .dashboard__grid {
    gap: 1.875rem;
  }

  .average-session-charts__container,
  .performance-charts__container,
  .today-score-charts__container {
    width: 16.125rem;
    height: 16.4375rem;
  }

  .key-data-charts {
    width: 16.125rem;
  }
}
