.App-main {
  width: 90%;
  padding: 0 0 5rem;
  margin-inline: auto;
}

.main__title {
  margin-top: 3.75rem;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
}

.main__title em {
  color: #ff0000;
  font-style: normal;
}

.main__subtitle {
  font-size: 1.125rem;
  font-weight: 400;
}

.dashboard__grid {
  display: grid;
  gap: 1rem;
}

.dashboard__charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.activity-charts__container {
  width: 100%;
}

.average-session-charts__container,
.performance-charts__container,
.today-score-charts__container {
  width: 12rem;
  height: 12rem;
}

.key-data-charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.key-data-charts .key-card {
  flex-grow: 1;
}

@media screen and (min-width: 1024px) {
  .dashboard__grid {
    grid-template-areas: "dashboard-charts keydata";
  }

  .dashboard__charts {
    grid-area: dashboard-charts;
  }

  .average-session-charts__container,
  .performance-charts__container,
  .today-score-charts__container {
    width: 13.2rem;
    height: 13.2rem;
  }

  .key-data-charts {
    flex-direction: column;
    gap: 2.4375rem;
    min-width: 12rem;
    grid-area: keydata;
    justify-content: flex-start;
  }

  .key-data-charts .key-card {
    flex-grow: 0;
  }
}

@media screen and (min-width: 1200px) {
  .average-session-charts__container,
  .performance-charts__container,
  .today-score-charts__container {
    width: 14rem;
    height: 14rem;
  }

  .key-data-charts {
    min-width: 15.9rem;
  }
}

@media screen and (min-width: 1316px) {
  .average-session-charts__container,
  .performance-charts__container,
  .today-score-charts__container {
    width: 16.125rem;
    height: 16.125rem;
  }

  .key-data-charts {
    min-width: 16.125rem;
  }
}
