.App-header {
  padding: 1.25rem 1.875rem;
  background-color: hsla(240, 20%, 1%, 1);
}

.nav-primary {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.625rem;
}

.nav-primary__link {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
}
